.header{
    text-align: center;
}
.header .logo{
    width: 200px;
}
form input{
    text-align: center;
    padding: 15px;
    width: 50%;
    margin: 10px;
    /* border: 0; */
    border-radius: 10px;
}
form input::placeholder{
    color: red;
    font-size: 15px;
}
.header nav{
    background: #000;
    line-height: 40px;
    /* text-align: left; */
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
    transition: all .3s linear;
}
.header nav a:hover{
    background: gray;
}